:root {
  /* Primary colors */
  --cyan: hsl(179, 62%, 43%);
  --light-cyan: hsl(179, 47%, 52%);
  --bright-yellow: hsl(71, 73%, 54%);

  /* Neutral colors */
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
  --white: white;

  /* Font */
  --main-font: "Karla", sans-serif;

  /* Font weights */
  --w-400: 400;
  --w-700: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--light-gray);
  font-family: var(--main-font);
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

main {
  display: grid;
  grid-template-areas:
    "one one"
    "two three";
  border-radius: 10px;
  overflow: hidden;
  width: 43%;
  line-height: 1.5;
}

section {
  padding: 40px;
}

section.join {
  background-color: var(--white);
  grid-area: one;
}

section.join h1 {
  color: var(--cyan);
  margin-bottom: 20px;
  font-weight: var(--w-700);
}

section.join h2 {
  color: var(--bright-yellow);
  font-size: 18px;
  font-weight: var(--w-700);
  margin-bottom: 18px;
}

section.join p {
  color: var(--grayish-blue);
}

section.subscription {
  background-color: var(--cyan);
  padding-right: 0px;
  grid-area: two;
}

section.subscription .price,
h3,
button {
  color: var(--white);
}

section.subscription h3 {
  font-weight: var(--w-400);
  margin-bottom: 15px;
}

section.subscription .price-container {
  display: flex;
  align-items: center;
}

section.subscription .price {
  font-size: 33px;
  font-weight: var(--w-700);
  margin-right: 15px;
}

section.subscription .sub-price {
  color: rgb(255, 255, 255, 0.4);
}

section.subscription p {
  color: rgb(255, 255, 255, 0.7);
  margin-bottom: 25px;
}

section.subscription button {
  background-color: var(--bright-yellow);
  font-weight: var(--w-700);
  padding: 15px 80px;
  border: none;
  border-radius: 5px;
  width: 80%;
}

section.subscription button:hover {
  color: var(--grayish-blue);
  cursor: pointer;
  transition: ease-in-out 200ms;
}

section.why {
  background-color: var(--light-cyan);
  padding-right: 100px;
  grid-area: three;
}

section.why h3 {
  color: var(--white);
  font-weight: var(--w-400);
  margin-bottom: 15px;
}

section.why ul {
  color: rgb(255, 255, 255, 0.6);
  list-style: none;
  font-size: 13px;
}

footer {
  padding: 20px;
  color: var(--grayish-blue);
}

footer a {
  color: var(--bright-yellow);
}
